---
layout: default
title: null
---

<article>
  <div class='content'>
    <div class="description">
      <h1 class="title">{{ page.title }}</h1>
    </div>

    <div class="box">
      <content>
        {{ content }}
      </content>
    </div>


{%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}
{%- if page.last_modified_at -%}
    <time class="date" datetime="{%- page.last_modified_at | date: date_format -%}">
      {% if page.type != 'pages' %}
        Last updated: {%- page.last_modified_at | date: date_format -%}
      {% endif %}
    </time>

{%- else -%}
    <time class="date" datetime="{%- page.date | date: date_format -%}">
      {% if page.type != 'pages' %}
        Last updated: {%- page.date | date: date_format -%}
      {% endif %}
    </time>
{%- endif -%}

  </div>
</article>
